.git/
.idea/
.neptune/
wandb/
__pycache__/
.ipynb_checkpoints/
artifacts/
data/
notebooks/mlruns/
experiments/
obsolete/
mlruns/
notebooks/bert/mlruns
notebooks/bert/tokenizers
notebooks/bert/distilbert*
*.pth
*.bin
